/* Limite la largeur maximale de l'image à 100 % de son conteneur */
/* Ajuste la hauteur de l'image automatiquement pour conserver les proportions */
img {
  max-width: 100%;
  height: auto;
}

/* Mise en forme du carrousel en CSS. */

.carousel__controls {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.carousel__button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.carousel__button--prev {
  transform: rotate(180deg);
}

.carousel__container {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  margin-left: -24px;
  margin-right: -24px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* pour que scrollBy soit fluide */
}

.carousel__item {
  /* IMPORTANT : pas de flex-grow, largeur fixe > pour forcer l’overflow */
  flex: 0 0 70%;
  /* chaque item fait 260px de large */
  scroll-snap-align: center;
}



.carousel__item img {
  display: block;
}